#==============================================================================#
# Intellij files
#==============================================================================#
.idea
*.iml

#==============================================================================#
# target
#==============================================================================#
target/*

#==============================================================================#
# run files
#==============================================================================#
*.db
*.log